<div style="display: flex; flex-direction: row; justify-content:  center">
  <div style="background-color: #2574a9; height: 80px; width: 1400px; margin-top: 10px; display: flex; flex-direction: row;">
    <img style="height: 75px; width: 60px; margin-left: 10px" [src]="'../assets/pwrLogo.png'">
    <div class="title" style="font-size: 25px; color: white; margin: 20px;">Portal wspierający zarządzanie hospitacjami na Politechnice Wrocławskiej</div>
  </div>
</div>
<div style="height: 200px; font-size: 14px;">
  <div class="form-group serachContainer">
    <mat-form-field class="container__searchInput">
      <input class="search__input" matInput placeholder="Imię i nazwisko nauczyciela" value="" [(ngModel)]="searchedTeacher" (change)="changeStateOfSearch()">
    </mat-form-field>

    <!--<input matInput type="text" placeholder="Wpisz imię lub nazwisko naczyciela akademickiego" [(ngModel)]="searchedTeacher"-->
           <!--class="form-control container__searchInput" id="user" (change)="changeStateOfSearch()">-->
    <button mat-button (click)="findTeacherByName()" class="container__searchButton">SZUKAJ</button>
  </div>
  <div style="display: flex; flex-direction: column; margin-left: 390px; margin-top: 5px">
    <a style="margin-top: 10px">Wyszukiwanie zaawansowane:</a>
    <div style="display: flex; flex-direction: row; margin-top: 5px; margin-left: 50px">
      <div>
        <a>Umowa:</a>
        <div class="form-check">
          <mat-checkbox class="form-check-input" id="employementContract" [(ngModel)]="employementContract"
                 (change)="modifyEmplyementContract(employementContract)">Umowa o pracę</mat-checkbox>
        </div>
        <div class="form-check">
          <mat-checkbox type="checkbox" class="form-check-input" id="feeForTaskAgreement" [(ngModel)]="feeForTaskAgreement"
                        (change)="modifyFeeForTaskAgreement(feeForTaskAgreement)">Umowa na zlecenie</mat-checkbox>
        </div>
        <div class="form-check">
          <mat-checkbox type="checkbox" class="form-check-input" id="contractOfCommision" [(ngModel)]="contractOfCommision"
                        (change)="modifyContractOfCommision(contractOfCommision)">Umowa o dzieło</mat-checkbox>
        </div>
      </div>
      <div style="margin-left: 50px">
        <a>Stopień naukowy:</a>
        <div class="form-check">
          <mat-checkbox type="checkbox" class="form-check-input" id="doctor" [(ngModel)]="doctor"
                        (change)="modifyDegreePredicate('Doktor', doctor)">Doktor</mat-checkbox>
        </div>
        <div class="form-check">
          <mat-checkbox type="checkbox" class="form-check-input" id="docent" [(ngModel)]="docent"
                        (change)="modifyDegreePredicate('Docent',docent)">Docent</mat-checkbox>
        </div>
        <div class="form-check">
          <mat-checkbox type="checkbox" class="form-check-input" id="magister" [(ngModel)]="magister"
                        (change)="modifyDegreePredicate('Magister', magister)">Magister</mat-checkbox>
        </div>
      </div>
      <div style="margin-top: 18px">
        <div class="form-check">
          <mat-checkbox type="checkbox" class="form-check-input" id="doktorHabilitowany" [(ngModel)]="doctorH"
                        (change)="modifyDegreePredicate('Doktor Habilitowany',doctorH)">Doktor habilitowany</mat-checkbox>
        </div>
        <div class="form-check">
          <mat-checkbox type="checkbox" class="form-check-input" id="profesor" [(ngModel)]="profesor"
                        (change)="modifyDegreePredicate('Profesor', profesor)">Profesor</mat-checkbox>
        </div>
        <div class="form-check">
          <mat-checkbox type="checkbox" class="form-check-input" id="doktorant" [(ngModel)]="doktorant"
                        (change)="modifyDegreePredicate('Doktorant',doktorant)">Doktorant</mat-checkbox>
        </div>
      </div>
      <div style="margin-left: 30px">
        <form>
          <mat-form-field>
            <mat-select placeholder="Dziedzina naukowa" [(ngModel)]="dropdownSelectedValue" name="food" (change)="filterListOfTeachers()">
              <mat-option>Wszystkie</mat-option>
              <mat-option *ngFor="let fieldOfKnowledge of fieldOfKnowledgeList" [value]="fieldOfKnowledge.name">
                {{fieldOfKnowledge.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </div>
    </div>

  </div>
</div>

<!--<div *ngIf="!isDataEmpty()">-->
<div
  style="margin-left: 40px; margin-right: 40px; margin-top: -5px; display:flex; flex-direction:column; justify-content: flex-end">
  <ngx-datatable
    style="height: 390px"
    #myTable
    class="material expandable"
    [rows]="data"
    [externalSorting]="true"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="50"
    [scrollbarV]="true">

    <!-- Row Detail Template -->
    <ngx-datatable-row-detail [rowHeight]="50" #myDetailRow>
      <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
        <div style="padding-left:35px;">
          <div>Dziedzina naukowa: <i [innerHTML]="row['fieldOfKnowledge'].name"></i></div>
        </div>
      </ng-template>
    </ngx-datatable-row-detail>


    <!-- Column Templates -->
    <ngx-datatable-column
      [width]="50"
      [resizeable]="false"
      [sortable]="false"
      [draggable]="false"
      [canAutoResize]="false">
      <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
        <a
          href="javascript:void(0)"
          [class.datatable-icon-right]="!expanded"
          [class.datatable-icon-down]="expanded"
          (click)="toggleExpandRow(row)">
        </a>
      </ng-template>
    </ngx-datatable-column>


    <ngx-datatable-column [sortable]="false" name="<strong>Imię i nazwisko</strong>" prop="firstName" width="200">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <i [innerHTML]="row['firstName']"></i> <i class="teacher" [innerHTML]="row['lastName']"></i>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column width="300">
      <ng-template ngx-datatable-header-template>
        <span style="cursor: pointer"
              (click)="sortByConductingLastVisitation()"><strong>Data przeprowadzania hospitacji</strong></span>
      </ng-template>
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        <div><i [innerHTML]="row['dateOfLastVisitation'] | date"></i></div>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column width="300">
      <ng-template ngx-datatable-header-template>
        <span style="cursor: pointer" (click)="sortByVisitation()"><strong>Data hospitacji</strong></span>
      </ng-template>
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        <div><i [innerHTML]="row['dateOfConductingVisitation'] | date"></i></div>
      </ng-template>
    </ngx-datatable-column>


    <ngx-datatable-column width="200" [sortable]="false" name="<strong>Rodzaj umowy</strong>">
      <!--<ng-template >-->
      <!--<span (click)="sort()"><strong>Rodzaj umowy</strong></span>-->
      <!--</ng-template>-->
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        <i [innerHTML]="row['kindOfDeal']"></i>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [sortable]="false" width="200" name="<strong>Stopień</strong>">
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>

        <i [innerHTML]="row['degree']"></i>
      </ng-template>
    </ngx-datatable-column>

  </ngx-datatable>
</div>
<!--</div>-->
