@import "./_datatable.scss";
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '../../../../common-styles/colors';

.serachContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container__searchInput{
  width: 650px;
  height: 30px;
  margin-top: 15px;
  padding-left: 5px;
}

.container__searchButton {
  width: 100px;
  height: 30px;
  margin-top: 25px;
  border: solid 1px #2574a9;
  border-radius: 3px;
  background-color: #2574a9;
  margin-left: 10px;
  color: white;
  text-align: justify;
}
