@import '~simple-line-icons/css/simple-line-icons.css';

.icon-bell {
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.icon-speech {
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.icon-user {
  color: white;
  font-size: 20px;
}

.icon-graduation {
  color: white;
  font-size: 25px;
}
