<div style="display: flex; flex-direction: row; justify-content:  center">
  <div style="background-color: #2574a9; height: 80px; width: 1400px; margin-top: 10px; display: flex; flex-direction: row;">
    <img style="height: 75px; width: 60px; margin-left: 10px" [src]="'../assets/pwrLogo.png'">
    <div style="font-size: 25px; color: white; margin: 20px;">Portal wspierający zarządzanie hospitacjami na Politechnice Wrocławskiej</div>
  </div>
</div>
<div style="display: flex; flex-direction: row; justify-content:  center">
  <div style="color: #2574a9; font-size: 30px; margin-top: 40px" *ngIf="isDatatableEmpty()">Brak protokołów hospitacji do wypełnienia </div>

  <div style="width: 1400px;max-height: 800px; margin-top: 50px;" *ngIf="!isDatatableEmpty()">
  <div class="protocols-list">Lista protokołów hospitacji do wypełnienia: </div>
  <div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">

      <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
        <mat-cell *matCellDef="let visitationForm"> {{visitationForm.id - 1}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Nazwa kursu</mat-header-cell>
        <mat-cell *matCellDef="let visitationForm"> {{visitationForm.courseName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="courseForm">
        <mat-header-cell *matHeaderCellDef> Forma kursu </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.courseFormName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="visitedPerson">
        <mat-header-cell *matHeaderCellDef> Hospitowany </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.visitedPersonName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef> Data hospitacji </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.dateOfVisitation | date}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="details">
        <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button class="protocol-button" mat-button routerLink="/form/{{element.id}}" style="background-color: #2574a9; color: white; width: 120px">Wypełnij</button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</div>
</div>
