@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import "./common-styles/_colors.scss";
@import "./app/main/teacher/teachers/_datatable.scss";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~ngx-toastr/toastr";
//@import "~ngx-toastr/toastr-bs4-alert"

body {
  background-color: $color-background;
  margin: 0;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
}

.full-page{
  height: 100vh;
  width: 100vw;
}

.toUpperCase {
  text-transform: uppercase;
}
