@import "colors";

.menuButton{
  cursor: pointer;
  background: $color-accent;
  color: white;
  font-weight: bold;
  font-size: 3vh;
  border-radius: 2%;
  border: solid 1px #2574a9;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  display: flex;
}
