<div style="display: flex; flex-direction: row; justify-content:  center">
  <div
    style="background-color: #2574a9; height: 80px; width: 1400px; margin-top: 10px; display: flex; flex-direction: row;">
    <img style="height: 75px; width: 60px; margin-left: 10px" [src]="'../assets/pwrLogo.png'">
    <div style="font-size: 25px; color: white; margin: 20px;">Portal wspierający zarządzanie hospitacjami na
      Politechnice Wrocławskiej
    </div>
  </div>
</div>

<div style="display: flex; flex-direction: row; justify-content:  center; width: 1500px; margin-top: 80px">
  <mat-horizontal-stepper [linear]="true">
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Ocena merytoryczna zajęć</ng-template>
        <div
          style="display: flex; flex-direction: row; justify-content: space-between; margin-left: 30px; margin-right: 180px">
          <div style="margin-top: 25px">1. Przedstawienie tematu, wyjaśnienie celu i zakresu danych</div>
          <div>
            <mat-form-field>
              <mat-select placeholder="Ocena" formControlName="firstCtrl" [(ngModel)]="firstMeritoricAnswer"
                          required>
                <mat-option *ngFor="let rating of getAllRating()" [value]="rating">
                  {{rating}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div
          style="display: flex; flex-direction: row; justify-content: space-between; margin-left: 30px; margin-right: 180px">
          <div style="margin-top: 25px">2. Merytoryczny poziom i aktualność wiedzy przekazywanej studentom</div>
          <div>
            <mat-form-field>
              <mat-select placeholder="Ocena" formControlName="firstCtrl" [(ngModel)]="secondMeritoricAnswer"
                          required>
                <mat-option *ngFor="let rating of getAllRating()" [value]="rating">
                  {{rating}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div
          style="display: flex; flex-direction: row; justify-content: space-between; margin-left: 30px; margin-right: 180px">
          <div style="margin-top: 25px">3. Merytoryczna poprawność udzielanych odpowiedzi na pytania studentów</div>
          <div>
            <mat-form-field>
              <mat-select placeholder="Ocena" formControlName="firstCtrl" [(ngModel)]="thirdMeritoricAnswer"
                          required>
                <mat-option *ngFor="let rating of getAllRating()" [value]="rating">
                  {{rating}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div
          style="display: flex; flex-direction: row; justify-content: space-between; margin-left: 30px; margin-right: 180px">
          <div style="margin-top: 25px; margin-right: 20px;">4. Adekwatność wyboru przykładów pod względem treści do
            przedstawionych zagadnień
          </div>
          <div>
            <mat-form-field>
              <mat-select placeholder="Ocena" formControlName="firstCtrl" [(ngModel)]="fourthMeritoricAnswer"
                          required>
                <mat-option *ngFor="let rating of getAllRating()" [value]="rating">
                  {{rating}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>


        <div style="display:flex; justify-content: flex-end">
          <button class="first-next" mat-button matStepperNext style="background-color: #2574a9; color: white; width: 150px;">Dalej
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Ocena prowadzącego</ng-template>
        <div
          style="display: flex; flex-direction: row; justify-content: space-between; margin-left: 30px; margin-right: 180px">
          <div style="margin-top: 25px; margin-right: 20px;">1. Był komunikatywny</div>
          <div>
            <mat-form-field>
              <mat-select placeholder="Ocena" formControlName="secondCtrl" [(ngModel)]="firstTeacherIssueAnswer"
                          required>
                <mat-option *ngFor="let rating of getAllRating()" [value]="rating">
                  {{rating}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div
          style="display: flex; flex-direction: row; justify-content: space-between; margin-left: 30px; margin-right: 180px">
          <div style="margin-top: 25px; margin-right: 20px;">2. Posługiwał się poprawnym językiem</div>
          <div>
            <mat-form-field>
              <mat-select placeholder="Ocena" formControlName="secondCtrl" [(ngModel)]="secondTeacherIssueAnswer"
                          required>
                <mat-option *ngFor="let rating of getAllRating()" [value]="rating">
                  {{rating}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div
          style="display: flex; flex-direction: row; justify-content: space-between; margin-left: 30px; margin-right: 180px">
          <div style="margin-top: 25px; margin-right: 20px;">3. Panował nad dynamiką grupy</div>
          <div>
            <mat-form-field>
              <mat-select placeholder="Ocena" formControlName="secondCtrl" [(ngModel)]="thirdTeacherIssueAnswer"
                          required>
                <mat-option *ngFor="let rating of getAllRating()" [value]="rating">
                  {{rating}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>


        <div
          style="display: flex; flex-direction: row; justify-content: space-between; margin-left: 30px; margin-right: 180px">
          <div style="margin-top: 25px; margin-right: 20px;">4. Tempo prowadzonych zajęć dostosował do możliwości
            percepcyjnych studentów
          </div>
          <div>
            <mat-form-field>
              <mat-select placeholder="Ocena" formControlName="secondCtrl" [(ngModel)]="fourthTeacherIssueAnswer"
                          required>
                <mat-option *ngFor="let rating of getAllRating()" [value]="rating">
                  {{rating}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div
          style="display: flex; flex-direction: row; justify-content: space-between; margin-left: 30px; margin-right: 180px">
          <div style="margin-top: 25px; margin-right: 20px;">5. Realizował zajęcia z zaangażowaniem</div>
          <div>
            <mat-form-field>
              <mat-select placeholder="Ocena" formControlName="secondCtrl" [(ngModel)]="fifthTeacherIssueAnswer"
                          required>
                <mat-option *ngFor="let rating of getAllRating()" [value]="rating">
                  {{rating}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>


        <div style="display:flex; justify-content: flex-end">
          <button mat-button matStepperPrevious
                  style="background-color: #2574a9; color: white; width: 150px; margin-right: 20px">Cofnij
          </button>
          <button class="second-next" mat-button matStepperNext style="background-color: #2574a9; color: white; width: 150px;">Dalej
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Wyniki</ng-template>
      <div style="font-size: 20px; margin-top: 20px; margin-left: 30px">
        <div style="margin-bottom: 10px">Ocena merytoryczna: {{countMeritoricOpinion().toFixed(2)}}</div>
        <div style="margin-bottom: 10px">Ocena prowadzącego: {{countTeacherOpinion().toFixed(2)}}</div>
        <div>Ocena ogólna: {{getDegreeOfForm().toFixed(2)}}</div>
      </div>
      <div style="display: flex; justify-content: flex-end">
        <button mat-button class="protocol-reject" routerLink="/forms" matStepperPrevious style="background-color: white; color: #2574a9; width: 150px;">Anuluj</button>
        <button class="accept" mat-button (click)="approveVisitationForm()" matStepperPrevious style="background-color: #2574a9;  margin-left: 20px; color: white; width: 150px;">Zatwierdź</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
