<div class="hospitor-navbar">
  <div class="navbar-content">
    <span class="router-link toUpperCase" routerLinkActive="router-link__active" routerLink="/hospitor">Hospitor</span>
    <span class="router-link toUpperCase" routerLinkActive="router-link__active" routerLink="/teachers">Lista nauczycieli akademickich</span>
    <span class="router-link toUpperCase" routerLinkActive="router-link__active" routerLink="/forms">Protokoły hospitacji</span>
  </div>
  <div class="navbar-content__profile">
    <div class="icon-bell navbar-content__profile__icon"></div>
    <div class="icon-speech navbar-content__profile__icon"></div>
    <div class="navbar-content__profile__icon" style="color: white; font-weight: bold">Jan Kowalski</div>

    <img style="border-radius: 3px; margin-right: 15px" [src]="'../assets/userIcon.png'">
  </div>
</div>
