@import "../../../common-styles/colors";
@import "../../../shared/styles/icons";

.hospitor-navbar{
  height: 50px;
  background-color: #272929;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  :focus{
    outline: none;
  }
}

.navbar-content {
  font-weight: bold;
  color: $color-font;
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}

.navbar-content__profile {
  display: flex;
  flex-direction: row;
}

.navbar-content__profile__icon {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.router-link{
  margin-right: 15px;
  margin-left: 10px;
  cursor: pointer;
  color: white;
  padding: 5px;
}

.router-link__active{
  // text-decoration: underline;
  background-color: #2574a9;
  border-radius: 3px;
}
