@import "../../../common-styles/buttons";
@import "../../../shared/styles/icons";

.choiceButton{
  @extend .menuButton;
  height: 100px;
  width: 450px;
  margin-top: 80px;
  margin-right: 100px;
  background-color: #2574a9;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
}

.menu-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
