<div class="menu-container full-page">
  <div style="display: flex;flex-direction: row; justify-content: center; margin-top: -20px;">
  <div style="display: flex;flex-direction: column; justify-content: center;">
    <img style="height: 350px; width: 1300px; " [src]="'../assets/pwr.jpg'">
    <div style="height:45px; width: 1300px; background-color: #2574a9; display: flex; flex-direction: row; justify-content: flex-start">
        <div class="icon-graduation" style="margin-right: 20px; margin-left: 15px; margin-top: 10px"></div>
        <div style="font-size: 25px; color: white; margin-top: 5px;">Portal wspierający zarządzanie hospitacjami na Politechnice Wrocławskiej</div>
    </div>
  </div>
  </div>

  <div class="menu">
    <button mat-button routerLink="/teachers" class="choiceButton">Lista nauczycieli akademickich</button>
    <button mat-button routerLink="/forms" class="choiceButton">Wypełnij protokół hospitacji</button>
  </div>
</div>
